#Backend
__pycache__/
env/
venv/
knowledge_base/__pycache__

#Project Specifics 
.env

#IDE Specifics
.vscode

#Data file created in code
backend/data
user_data

#Log files
data/logs/crawler.log

#Config Files
backend/db_secrect.py