body{
    background-image: url('assets/main-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    min-height: 100vh;
}

.pda-container{
    width: 800px;
    padding: 10px;
    background: #174e96;
    opacity: 0.7;
    border-color: #50c2f0;
    border-radius: 50px;
    border-style: solid;
    box-shadow: 0 4px 8px #50c2f0;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatbox-container{
    width: 700px;
    padding: 20px;
    background: #2f5688;
    opacity: 0.7;
    border-color: #94e0fd;
    border-radius: 50px;
    border-style: solid;
    box-shadow: 0 4px 8px #76b1ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: stretch;
    height: 400px;
    position: relative;
}

.input-wrapper, .response-container{
    bottom: 20px;
    width: 70%;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

.chat-input{
    flex-grow: 1;  
    padding: 10px 15px 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px #0000001a;
}

.chat-input:focus{
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.send-btn{
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 50%;
    cursor:  pointer;
}

.send-btn:hover{
    background: #0056b3;
}

.response-container{
    display: none;
    position: absolute;
    width: 70%;
    height: 40%;
    left: 50%;
    top: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #cccccc;
    
}

#response{
    position: relative;
    padding: 10px 15px 10px 15px;
    border: 1px solid #b81f1f;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px #0000001a;
}
