<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>ALT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="main-wrapper">
        <div class="greetings">
        
        </div>

        <div class="pda-container">
            <div class="chatbox-container">
                <form id="chatForm">
                    <div class="input-wrapper">
                        <input type="text" class="chat-input" id="chat-input" name="chat-input" placeholder="Ask Anything...">
                        <button class="send-btn">➡</button>

                    </div>
                </form>
                <script src="{{ url_for('static', filename='index.js') }}"></script>
                
                <div class="response-container">
                    <div id="response"></div>
                </div>

            </div>

        </div>

    </div>

    
</body>          
</html>